/.vscode
/Decorators practice.py
/Dice_rolling_sim.py
/even_index_number.py
/greetings_program.py
/multiplication.py
/new_year_countdown.py
/palindrome_checker.py
/plotting.py
/reverse_string.py
/sum_previous_number.py
/to_do_list.py
/unit_testing.py
/vowel_counter.py